# Python
__pycache__/
*.pyc
venv/

# Datasets
datasets/
data/
*.zip

# ML models / weights
*.onnx
*.pth
*.pt
*.pkl
*.joblib

# Debug / cache
debug/
logs/

# Frontend
node_modules/
dist/
build/

# OS
.DS_Store
